.nav {
  background-color: #4e4e4e;
  height: 50px;
}
.nav-container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 46px;
}
/* .header-container {
  height: 100vh;
} */
.landing-page {
  height: calc(100vh - 50px);
  background-image: url(/Tło\ sekcji.png);
  background-size: cover;
  background-position: center;
}

.landing-page-container {
  width: 960px;
  margin: 0 auto;
}
