@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.header-container {
  color: #fff;
}
.nav {
  background-color: #4e4e4e;
  height: 50px;
}
.nav-container {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.nav-item-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 46px;
}
.nav-item-btn {
  text-decoration: none;
  color: #fff;
}
.nav-item-contact-btn {
  cursor: not-allowed;
}

.landing-page {
  height: calc(100vh - 50px);
  background-image: url(/section-background.png);
  background-size: cover;
  background-position: center;
}
.landing-page-container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 43px;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-landing-page {
  display: flex;
  width: 577px;
  height: 46px;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
}
.primary-paragraph {
  width: 276px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}
.offer-btn {
  width: 164px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  background: rgba(196, 196, 196, 0);
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.offer-btn:hover {
  background-color: #fff;
  color: black;
  transition: 1s, ease;
}

.main-section {
  display: flex;
  justify-content: center;
  align-content: center;
}
.primary-main-container {
  background-color: #f1f1f1;
}
.primary-content-wraper,
.secondary-content-wraper {
  width: 960px;
  margin: 0 auto;
}
.primary-main-heading,
.secondary-main-heading {
  font-size: 36px;
  font-weight: 700;
  padding-top: 51px;
  color: #152d41;
}
.specialists-container {
  width: 960px;
  height: 672px;
  margin: 0 auto;
  color: #000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.first-specjalist,
.second-specjalist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.specjalist-pic-Piotr-item,
.specjalist-pic-Marek-item {
  width: 197px;
  height: 197px;
  border: solid 1px black;
  border-radius: 50%;
}
.specjalist-pic-Marek-item,
.specjalist-pic-Piotr-item {
  background-size: cover;
}
.specjalist-pic-Marek-item {
  background-image: url(/Marek-Nowak.png);
}
.specjalist-pic-Piotr-item {
  background-image: url(/Piotr-Kowalski.png);
  order: 1;
}
.specialists-heading {
  font-weight: 700;
  padding-bottom: 20px;
}
.specjalist-text-Marek,
.specjalist-text-Piotr {
  width: 700px;
  font-size: 18px;
}
.specjalist-text-Piotr {
  text-align: right;
}

.secondary-main-container {
  background-color: #405d78;
  height: 689px;
  color: white;
}
.secondary-main-heading {
  color: #fff;
  padding-bottom: 82px;
}
.offer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 63px;
  position: relative;
}
.offer-item {
  width: 198px;
  height: 194px;
  background: #f1f1f1;
  color: #000;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-dot {
  width: 21px;
  height: 21px;
  border: solid 1px #e07a64;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -10px;
  left: 110px;
  z-index: 100;
}

.footer-container {
  background-color: #4e4e4e;
}
.footer-wraper {
  width: 960px;
  height: 71px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  color: white;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 18px;
}
.fb-icon {
  width: 31px;
  height: 31px;
}
.icons-btn {
  display: flex;
  justify-content: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
}
